@model IEnumerable<Nhom03.Models.Cart>

@{
    ViewData["Title"] = "Index";
}
<!-- Navbar Start -->
<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <table class="table table-bordered text-center">
            <thead class="bg-secondary text-dark">
                <tr>
                    <th>Ảnh SP</th>
                    <th>Tên SP</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="~/img/products/@item.Product.Image" style="width: 50px;">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @item.Product.Price.ToString("#,##0")
                        </td>
                        <td>
                            @((item.Product.Price * item.Quantity).ToString("#,##0"))
                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return confirm('Bạn chắc chắn muốn hủy sản phẩm này?');">
                                <button class="btn btn-danger">&times;</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">Tổng tiền:</td>
                    <td>@Model.Sum(c => c.Product.Price * c.Quantity).ToString("#,##0")</td>
                    <td>
                        <a asp-action="Purchase" class="btn btn-success">Đặt Hàng</a>
                        <form asp-action="DeleteAll" onsubmit="return confirm('Bạn chắc chắn muốn xóa?');" class="d-inline">
                            <button class="btn btn-danger">Xóa hết</button>
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- Cart End -->
    </div>
</div>
<!-- Navbar End -->
