@model IEnumerable<Eshop.Models.ProductDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Screen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operatingsystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frontcamera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Internalmemory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rechargeablebatteries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Screen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operatingsystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frontcamera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internalmemory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rechargeablebatteries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
